
form {
    text-align: center;
    padding: auto;
    font-size: 24px;

    button {
        margin: 10px;
        background: #22b8cf;
        height: 44px;
        width: 100px;
        font-size: 24px;
        border-radius: 60%;
    }

    input {
        height: 44px;
        width: 280px;
    }

}

